/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

table {
  width: 50%;
}

td {
  border: 1px solid #c6c7cc;
  padding: 10px 15px;
}

th {
  font-weight: bold;
  border: 1px solid #c6c7cc;
}